@mixin sp {
  @media (max-width:(520px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(780px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


/* =================================
下層共通
 ================================= */
.sub-page {}

/* =================================
会社案内（company）
 ================================= */
.page-company {

  &__section01 {
    padding: 120px 16px 240px;
    position: relative;


    @include tab {
      padding: 40px 16px 60px;

    }
  }

  &__section01-inner {
    max-width: 980px;
    margin: 0 auto;
  }

  &__section01-ttl {
    margin: 0 0 72px;

    @include tab {
      margin: 0 0 24px;

    }
  }

  &__section01-lead {
    font-size: 48px;
    font-weight: bold;
    color: #8e8e8e;
    margin: 0 0 60px 40px;

    @include tab {
      font-size: 24px;
      margin: 0 0 40px 24px;

    }

  }

  &__section01-flex {
    display: flex;
    gap: 56px;

    @include pc {
      gap: 24px;
    }

    @include tab {
      flex-direction: column;
      align-items: center;
    }
  }

  &__section01-left {
    max-width: 500px;
    width: 60%;

    @include pc {
      max-width: 400px;
      width: 50%;
    }

    @include tab {
      width: 100%;
    }
  }

  &__section01-right {
    flex: 1;
  }

  &__section01-text {
    margin: 0 0 24px;
  }

  &__section01-name-wrap {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
  }

  &__section01-name-left {
    font-size: 12px;
    line-height: 1.5;
  }

  &__section01-name-right {
    font-size: 26px;
  }

  &__bg-right {
    bottom: 0px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__section02 {
    padding: 0 0 120px;
    position: relative;


    @include tab {
      padding: 0 0 60px;

    }
  }

  &__section02-box {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;

    }
  }

  &__section02-item {
    width: calc((100% - 80px) / 3);
    margin: 0 0 40px;

    @include pc {
      width: calc((100% - 32px) / 3);

    }

    @include tab {
      width: calc((100% - 20px) / 2);
      margin: 0 0 12px;

    }
  }

  &__section02-img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;

    }
  }

  &__section02-ttl {
    margin: 0 0 0 4px;
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }

  &__ {}

  &__ {}
}



/* =================================
事業案内（page-services）
 ================================= */

.page-services {

  &__bg-right {
    bottom: 50px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }

  &__lead-wrap {
    position: relative;
    padding: 120px 0;

    @include tab {
      padding: 60px 0;

    }
  }

  &__inner {
    max-width: 920px;
    margin: 0 auto 80px;

    @include tab {
      padding: 0 12px;
      margin: 0 auto;

    }
  }

  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 80px 80px;
    color: #808080;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px 12px;
    }
  }

  &__lead {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 80px 80px;
    color: #808080;
    line-height: 1.5;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 21px;
      margin: 0 0 24px 12px;
    }
  }

  &__text {
    color: #3071b9;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 80px 80px;

    @include pc {
      font-size: 16px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 0 12px;
    }
  }

  &__section01 {
    padding: 0 0 120px;
  }

  &__section01-box {
    display: flex;
    gap: 60px;
    margin: 0 0 100px;

    @include tab{
    flex-direction: column-reverse;
    gap: 24px;
    margin: 0 0 60px;


    }

    &--odd {
      flex-direction: row-reverse;

      @include tab{
        flex-direction: column-reverse;
      }

      .page-services__section01-left {
        padding: 0 0 0 20px;
        }
    }

    &--last {
      margin: 0;
    }


  }

  &__section01-left {
    width: 50%;

    @include tab{
    width: 100%;
    padding: 0 20px 0 0;
    }

  }

  &__section01-right {
    flex: 1;
    max-width: 500px;
    padding: 0 16px;
  }

  &__section01-num {
    width: 35px;
    margin: 0 0 24px;
  }

  &__section01-ttl {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: bold;
    color: #3071b9;

  }

  &__section01-text {
    margin: 0 0 60px;

    @include tab{
      margin: 0 0 32px;
    }

  }

  &__section01-btn {
    @include tab{
    display: block;
    margin: 0 auto;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}