@mixin sp {
  @media (max-width:(520px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(780px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


.company-link {
  background-color: rgb(214 240 241 / 50%);
  padding: 60px 12px;



  &__box {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    gap: 16px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;
    }

    @include tab {
      padding: 0;

    }
  }

  &__item {
    width: calc((100% - 80px) / 6);

    @include tab {
      width: calc((100% - 32px) / 3);
    }
  }

  &__img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__ttl {
    margin: 0 0 0 4px;
    color: #3071b9;
    font-weight: bold;
    position: relative;
    display: inline-block;

    &:after {
      /* 擬似要素で矢印アイコンをつくる */
      content: '';
      border: 0;
      border-top: solid 2px #3071b9;
      border-right: solid 2px #3071b9;
      display: inline-block;
      width: 7px;
      height: 7px;
      /* 矢印アイコンの位置を設定 */
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%) rotate(45deg);
      /* rotate(45deg)で矢印を回転（向きを変更）させる */
      transition: all 0.5s;

      &:hover {
        transform: translateY(-50%) rotate(45deg) translateX(5px);
      }
    }

    &--bee {
      &:after {
        display: none;
      }

      &::before {
        content: url(../img/company/external-link.png);
        position: absolute;
        top: 0;
        right: -26px;
        transform: scale(1);

        @include tab {
          top: 2px;
          right: -24px;

        }
      }
    }
  }
}

/* =================================
会社案内（company）
 ================================= */
.page-company {

  &__section01 {
    padding: 120px 16px 240px;
    position: relative;


    @include tab {
      padding: 40px 16px 60px;

    }
  }

  &__section01-inner {
    max-width: 980px;
    margin: 0 auto;
  }

  &__section01-ttl {
    margin: 0 0 72px;

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__section01-lead {
    font-size: 48px;
    font-weight: bold;
    color: #8e8e8e;
    margin: 0 0 60px 40px;

    @include tab {
      font-size: 24px;
      margin: 0 0 40px 24px;
    }
  }

  &__section01-flex {
    display: flex;
    gap: 56px;

    @include pc {
      gap: 24px;
    }

    @include tab {
      flex-direction: column;
      align-items: center;
    }
  }

  &__section01-left {
    max-width: 500px;
    width: 60%;

    @include pc {
      max-width: 400px;
      width: 50%;
    }

    @include tab {
      width: 100%;
    }
  }

  &__section01-right {
    flex: 1;
  }

  &__section01-text {
    margin: 0 0 24px;
  }

  &__section01-name-wrap {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
  }

  &__section01-name-left {
    font-size: 12px;
    line-height: 1.5;
  }

  &__section01-name-right {
    font-size: 26px;
  }

  &__bg-right {
    bottom: 0px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__section02 {
    padding: 0 0 120px;
    position: relative;


    @include tab {
      padding: 0 0 60px;
    }
  }

  &__section02-box {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;
    }
  }

  &__section02-item {
    width: calc((100% - 80px) / 3);
    margin: 0 0 40px;

    @include pc {
      width: calc((100% - 32px) / 3);
    }

    @include tab {
      width: calc((100% - 20px) / 2);
      margin: 0 0 12px;
    }
  }

  &__section02-img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__section02-ttl {
    margin: 0 0 0 4px;
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }
}



/* =================================
事業案内（page-services）
 ================================= */

.page-services {

  padding: 0 0 120px;

  @include tab {
    padding: 0;
  }

  &__bg-right {
    bottom: 50px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }

  &__lead-wrap {
    position: relative;
    padding: 120px 0;

    @include tab {
      padding: 60px 0;
    }
  }

  &__inner {
    max-width: 920px;
    margin: 0 auto 80px;

    @include tab {
      padding: 0 12px;
      margin: 0 auto;
    }
  }

  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 80px 80px;
    color: #808080;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px 12px;
    }
  }

  &__lead {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 80px 80px;
    color: #808080;
    line-height: 1.5;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 21px;
      margin: 0 0 24px 12px;
    }
  }

  &__text {
    color: #3071b9;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 80px 80px;

    @include pc {
      font-size: 16px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 0 12px;
    }
  }

  &__section01 {
    padding: 0 0 120px;

    @include tab {
      padding: 0 0 60px;

    }
  }

  &__section01-box {
    display: flex;
    gap: 60px;
    margin: 0 0 100px;

    @include tab {
      flex-direction: column-reverse;
      gap: 24px;
      margin: 0 0 60px;
    }

    &--odd {
      flex-direction: row-reverse;

      @include tab {
        flex-direction: column-reverse;
      }

      .page-services__section01-left {
        padding: 0 0 0 20px;
      }
    }

    &--last {
      margin: 0;
    }


  }

  &__section01-left {
    width: 50%;

    @include tab {
      width: 100%;
      padding: 0 20px 0 0;
    }

  }

  &__section01-right {
    flex: 1;
    max-width: 500px;
    padding: 0 16px;
  }

  &__section01-num {
    width: 35px;
    margin: 0 0 24px;
  }

  &__section01-ttl {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: bold;
    color: #3071b9;

  }

  &__section01-text {
    margin: 0 0 60px;

    @include tab {
      margin: 0 0 32px;
    }

  }

  &__section01-btn {
    @include tab {
      display: block;
      margin: 0 auto;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
会社概要（page-outline）
 ================================= */

.page-outline {
  padding: 0 0 120px;

  @include tab {
    padding: 0;
  }


  &__section {
    padding: 80px 12px 120px;

    @include tab {
      padding: 40px 12px 80px;

    }
  }

  &__section-ttl {
    max-width: 1040px;
    margin: 0 auto 24px;
    padding: 0 0 0 12px;
    font-size: 24px;

    @include tab {
      font-size: 18px;

    }
  }

  &__flex {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;

    @include tab {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;
    padding: 0 40px 0 0;
    border-right: 1px solid #cccccc;

    @include pc {
      padding: 0 20px 0 0;
    }

    @include tab {
      width: 100%;
      padding: 0;
      border-right: none;

    }
  }

  &__right {
    width: 50%;
    padding: 0 0 0 40px;

    @include pc {
      padding: 0 0 0 20px;

    }

    @include tab {
      width: 100%;
      padding: 0;
      border-right: none;

    }

  }

  &__table {
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;
    }
  }

  &__tr {
    border-bottom: 1px solid #cccccc;

    &:first-child {
      border-top: 1px solid #cccccc;
    }

    @include tab {
      &--none {
        border-top: none !important;
      }

    }



  }

  &__th {
    border-collapse: collapse;
    padding: 12px 28px;
    width: 170px;
    vertical-align: top;

    @include pc {
      width: 120px;
      padding: 12px 12px;


    }

    @include sp {
      padding: 8px 4px 8px 12px;
      width: 100px;
    }


  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;

    @include sp {
      padding: 8px 4px 8px 12px;
    }

  }

  &__section02-box {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;
    }
  }

  &__section02-item {
    width: calc((100% - 80px) / 3);
    margin: 0 0 40px;

    @include pc {
      width: calc((100% - 32px) / 3);
    }

    @include tab {
      width: calc((100% - 20px) / 2);
      margin: 0 0 12px;
    }
  }

  &__section02-img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__section02-ttl {
    margin: 0 0 0 4px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
会社概要（page-history）
 ================================= */

.page-history {
  padding: 0 0 120px;

  @include tab {
    padding: 0;
  }

  &__section {
    padding: 80px 12px 120px;

    @include tab {
      padding: 40px 12px 80px;

    }
  }

  &__section-ttl {

    padding: 0 0 0 12px;
    font-size: 24px;

    @include tab {
      font-size: 18px;
      margin: 0 0 12px;

    }
  }

  &__content {
    max-width: 1040px;
    margin: 0 auto 60px;
    padding: 0 24px;

    @include sp {
      margin: 0 auto 32px;
      padding: 0;

    }
  }

  &__content-ttl {
    margin: 0 0 16px;

    @include sp {
      margin: 0 0 16px;

    }
  }

  &__table {
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;
    }
  }

  &__tr {}

  &__tr {
    border-bottom: 1px solid #cccccc;

    &:first-child {
      border-top: 1px solid #cccccc;
    }

    @include tab {
      &--none {
        border-top: none !important;
      }

    }



  }

  &__th {
    border-collapse: collapse;
    padding: 12px 28px;
    width: 220px;
    vertical-align: top;

    @include pc {
      width: 120px;
      padding: 12px 12px;


    }

    @include sp {
      padding: 8px 4px 8px 12px;
      width: 100px;
    }


  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;

    @include sp {
      padding: 8px 4px 8px 12px;
    }

  }

  &__br {
    display: none;

    @include sp {
      display: block;
    }
  }

  &__top-wrap {
    display: flex;
    max-width: 1040px;
    margin: 0 auto 54px;
    justify-content: space-between;
    align-items: center;
    align-items: start;

    @include tab {
      flex-direction: column;
      margin: 0 auto 24px;

    }

  }

  &__btn-wrap {
    display: flex;
    gap: 8px;

    @include sp {
      gap: 4px;
      justify-content: center;
      width: 100%;

    }

  }

  &__btn {
    width: 110px;
    font-size: 12px;
    border: #808080 1px solid;
    border-radius: 8px;
    line-height: 1.5;
    padding: 4px 8px;
    transition: all 0.6;

    &:hover {
      background-color: #3071b9;
      color: #fff;

    }

    @include sp {
      padding: 4px 4px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

}


/* =================================
企業理念（page-vision）
 ================================= */

.page-vision {

  padding: 0 0 120px;

  @include tab {
    padding: 0;
  }

  &__bg-right {
    bottom: 50px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }

  &__lead-wrap {
    position: relative;
    padding: 120px 0 40px;

    @include tab {
      padding: 60px 0 40px;
    }
  }

  &__inner {
    max-width: 920px;
    margin: 0 auto 0;
    padding: 0 12px;


    @include tab {
      padding: 0 12px;
      margin: 0 auto;
    }
  }

  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 80px;
    color: #808080;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px;
    }
  }

  &__lead {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 80px;
    color: #808080;
    line-height: 1.5;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px;
    }

    @include tab {
      font-size: 21px;
      margin: 0 0 24px;
    }
  }

  &__text {
    color: #3071b9;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 80px;

    @include pc {
      font-size: 16px;
      margin: 0 0 60px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 0;
    }
  }

  &__lead-item-wrap {
    max-width: 920px;
    margin: 0 auto 120px;
    padding: 0 12px;
    display: flex;
    gap: 40px;

    @include pc {
      gap: 24px;
    }

    @include tab {
      flex-wrap: wrap;
      justify-content: center;
      gap: 12px;
      margin: 0 auto 60px;


    }
  }

  &__lead-item {

    @include tab {
      width: calc((100% - 12px) / 2);
    }
  }

  &__bg-left {
    top: -150px;
    max-width: 300px;

    @include tab {
      width: 50%;
      top: -80px;

    }
  }


  &__section {
    position: relative;
  }

  &__content-wrap {
    max-width: 1020px;
    margin: 0 auto;
  }

  &__img {
    max-width: 600px;
    margin: -160px 0 0 0;

    @include pc {
      width: 50%;
      margin: -160px 0 0 40px;
    }
  }

  &__item {
    position: relative;
    margin: 0 0 140px;

    @include tab {
      margin: 0 0 60px;

    }
  }

  &__item-dec {
    bottom: -97px;

    @include tab {
      bottom: -47px;

    }
  }

  &__item-dec-odd {
    bottom: -97px;
    right: 0;
    max-width: 50%;

    @include tab {
      bottom: -47px;

    }
  }

  &__item-inner {
    background-color: rgb(214 240 241 / 50%);
    margin: 0 0 0 5%;
    border-radius: 60px 0 0 60px;
    padding: 100px 12px;

    @include pc {
      border-radius: 24px 0 0 24px;
    }

    @include tab {
      padding: 24px 0;
      margin: 0 0 0 12px;
    }

    &--odd {
      margin: 0 5% 0 0;
      border-radius: 60px 60px 0 0;
      padding: 100px 12px;

      @include pc {
        border-radius: 24px 24px 0 0;
      }

      @include tab {
        padding: 24px 0;
        margin: 0 12px 0 0;
      }

    }
  }

  &__content {
    background-color: #fff;
    padding: 60px;
    max-width: 720px;
    border-radius: 60px;
    margin: -80px 0 0 auto;
    position: relative;
    z-index: 1;

    @include pc {
      margin: -80px 0 0 100px;
      border-radius: 24px;
    }

    @include tab {
      margin: 0 0 0 12px;
      border-radius: 24px 0 0 24px;
      padding: 40px 12px 24px;
    }


    &--odd {

      @include pc {
        margin: -80px 100px 0 0;
      }

      @include tab {
        margin: 0 12px 0 0;
        border-radius: 24px 24px 0 20;
      }
    }
  }

  &__content-ttl {
    font-size: 34px;
    font-weight: bold;
    margin: 0 0 24px;

    @include tab {
      font-size: 24px;

    }
  }

  &__content-lead {
    color: #3071b9;
    font-weight: bold;
    margin: 0 0 24px;
  }

  &__content-text {
    @include tab {
      margin: 0 0 24px;
    }
  }

  &__img-sp {
    padding: 0 6px;
  }

  &__recruit {
    background-image: url(../img/company/vision-recruit-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    position: relative;
    margin: 0 0 80px;

    @include tab {
      padding: 40px;
      margin: 0 0 40px;

    }

    @include sp {
      padding: 20px;
    }
  }

  &__recruit-bg {
    right: 0;
    top: 30%;
    z-index: 01;

  }

  &__recruit__inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
  }

  &__recruit-img {
    margin: 0 0 40px;
  }

  &__recruit-btn {
    margin: 0 0 0 auto;
    background-color: #fff;
    border-radius: 50px;
    color: #3071b9;
    display: block;
    padding: 12px;
    position: relative;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    width: 180px;

    &:after {
      /* 擬似要素で矢印アイコンをつくる */
      content: '';
      border: 0;
      border-top: solid 2px #b3b3b3;
      border-right: solid 2px #b3b3b3;
      display: inline-block;
      width: 7px;
      height: 7px;
      /* 矢印アイコンの位置を設定 */
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%) rotate(45deg);
      /* rotate(45deg)で矢印を回転（向きを変更）させる */
      transition: all 0.5s;
    }


    &:hover {
      &:after {
        right: 15px;
      }
    }

  }

  &__recruit-text-wrap {
    max-width: 460px;
    margin: 0 auto 160px;
    padding: 0 12px;

    @include tab {
      margin: 0 auto 60px;

    }

  }

  &__recruit-text {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.7;
    margin: 0 0 60px;

    @include tab {
      font-size: 18px;
      margin: 0 0 24px;

    }
  }
}


/* =================================
事業所（個別）
 ================================= */

.page-head {

  &__main-visual {
    position: relative;
  }


  &__bg-right {
    top: 250px;
    right: 0;
  }


  &__bg-left {
    z-index: 1;
    left: 0;
    bottom: -50px;
    width: 30%;
  }

  &__mv-img {
    max-width: 800px;
    margin: -280px auto 0;

    @include pc {
      max-width: 500px;
      margin: -130px auto 0;
    }

    @include tab {
      max-width: 500px;
      width: 80%;
      margin: -95px auto 0;
    }

    @include sp {
      max-width: 440px;
      width: 85%;
      margin: -15px auto 0;
    }

  }


  &__lead-wrap {
    position: relative;
    padding: 120px 16px 0;
    max-width: 920px;
    margin: 0 auto 120px;


    @include tab {
      margin: 0 auto 60px;
      padding: 40px 16px 0;

    }


  }



  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 40px;
    color: #808080;
    line-height: 1.3;

    @include pc {
      font-size: 28px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px;
    }
  }

  &__lead {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 40px;
    color: #808080;
    line-height: 1.5;
    color: #3071b9;


    @include pc {
      font-size: 28px;
    }

    @include tab {
      font-size: 17px;
      margin: 0 0 24px;
    }
  }

  &__text {
    margin: 0 0 32px;


    @include tab {
      margin: 0 0 24px;
    }
  }






  &__map-section {
    max-width: 920px;
    margin: 0 auto 80px;
    display: flex;
    gap: 80px;
    padding: 0 16px;
    position: relative;

    @include pc {
      gap: 40px;
    }

    @include tab {
      gap: 16px;
      flex-direction: column;
      margin: 0 auto 40px;

    }

    &--other {
      margin: 120px auto 80px;

      @include tab {
        margin: 40px auto 40px;
      }
    }
  }

  &__map-left {}

  &__map-ttl {

    font-size: 24px;
    font-weight: bold;
    margin: 0 0 24px;
    color: #3071b9;


    @include tab {
      font-size: 22px;
      margin: 0 0 24px;
    }
  }

  &__map-text {
    white-space: nowrap;
    margin: 0 0 24px;

    &:last-of-type {
      margin: 0;
    }
  }

  &__map-wrap {
    width: 100%;

  }

  &__map {
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 40px;

      @include tab {
        border-radius: 12px;
      }
    }
  }

  &__bg-map-right {
    top: 100%;
    right: -20%;
    transform: translate(-50%, -50%);

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

.office-link {

  &__ttl {
    max-width: 920px;
    margin: 0 auto 40px;
    font-size: 24px;
    font-weight: bold;
    color: #3071b9;
    padding: 0 16px;


    @include tab {
      font-size: 22px;
      margin: 0 auto 24px;
    }


  }

  &__inner {
    max-width: 920px;
    margin: 0 auto 120px;
    display: flex;
    gap: 20px;
    padding: 0 16px;
    flex-wrap: wrap;

    @include tab {
      margin: 0 auto 80px;
    }
  }

  &__item {
    text-align: center;
    border: #3071b9 1px solid;
    padding: 20px 0;
    border-radius: 12px;
    width: calc((100% - 60px) / 4);
    transition: all 0.3s;
    position: relative;

    @include tab {
      width: calc((100% - 20px) / 2);
    }


    &:after {
      content: "";
      border: 0;
      border-top: solid 2px #3071b9;
      border-right: solid 2px #3071b9;
      display: inline-block;
      width: 7px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%) rotate(45deg);
      transition: all 0.3s;
    }

    &.active {
      border: #bababa 1px solid;
      color: #bababa;

      &:after {
        border-top: solid 2px #bababa;
        border-right: solid 2px #bababa;

      }
    }

    &:hover {
      border: #bababa 1px solid;
      color: #bababa;


      &:after {
        border-top: solid 2px #bababa;
        border-right: solid 2px #bababa;
        right: 7px;


      }
    }
  }

  &__ {}

  &__ {}

}

/* =================================
営業所
 ================================= */

.page-office {

  &__bg-right {
    top: 250px;
    right: 0;
  }


  &__bg-left {
    z-index: 1;
    left: 0;
    bottom: -50px;
    width: 30%;
  }

  &__lead-bg-right {
    top: 100px;
    right: 0;
  }

  &__lead-bg-left {
    left: -221px;
    bottom: -69px;
    width: 50%;
  }


  &__lead-wrap {
    position: relative;
    padding: 120px 16px 0;
    max-width: 920px;
    margin: 0 auto 120px;


    @include tab {
      margin: 0 auto 60px;
      padding: 40px 16px 0;

    }


  }



  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 40px;
    color: #808080;
    line-height: 1.3;

    @include pc {
      font-size: 28px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px;
    }
  }

  &__lead {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 60px;
    line-height: 1.5;
    color: #3071b9;


    @include pc {
      font-size: 28px;
      margin: 0 0 40px;
    }

    @include tab {
      font-size: 17px;
      margin: 0 0 24px;
    }
  }

  &__lead-text {
    max-width: 720px;
    margin: 0 auto 32px;


    @include tab {
      margin: 0 0 24px;
    }
  }

  &__map-wrap {}

  &__map {
    max-width: 900px;
    margin: 0 auto 120px;
    padding: 0 16px;

    @include tab {
      margin: 0 auto 60px;
    }
  }

  &__section {
    padding: 0 0 220px;
    position: relative;

    @include tab {
      padding: 0 0 60px;
    }
  }

  &__section-bg01 {
    top: 0%;
    right: 0;
  }

  &__section-bg02 {
    top: 25%;
    left: 0;
  }

  &__section-bg03 {
    top: 50%;
    right: 0;
  }

  &__section-bg04 {
    top: 75%;
    left: 0;
  }


  &__section-inner {
    max-width: 900px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  &__item {
    width: calc((100% - 40px) / 2);
    margin: 0 0 12px;

    @include tab {
      width: 100%;
      max-width: 500px;
    }

    &:nth-of-type(even) {
      transform: translateY(170px);

      @include tab {
        transform: translateY(0);
      }
    }
  }

  &__item-img {
    margin: 0 0 12px;

  }

  &__bottom {
    padding: 0 32px;
    display: block;
  }

  &__item-ttl {
    margin: 0 0 12px;
    font-weight: bold;
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      border: 0;
      border-top: solid 2px #3071b9;
      border-right: solid 2px #3071b9;
      display: inline-block;
      width: 7px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%) rotate(45deg);
      transition: all 0.3s;
    }
  }

  &__item-text {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
建材販売
 ================================= */

.page-materials {

  &__main-visual {
    height: 600px;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/company/materials-bg.jpg);


    @media screen and (max-width: 1520px) {
      height: 500px;
    }

    @include pc {
      background-size: contain;
      height: 400px;
    }

    @include tab {
      height: 300px;
    }

    @include sp {
      height: 200px;
    }

  }

  &__mv-img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;

    @include pc{
      max-width: 500px;
      top: 60%;

    }

    @include tab{
      max-width: 400px;
      top: 65%;
    }

    @include sp{
      max-width: 280px;
      top: 77%;
    }
  }

  &__lead-wrap {
    position: relative;
    padding: 120px 16px 0;
    max-width: 920px;
    margin: 0 auto 120px;


    @include tab {
      margin: 0 auto 40px;
      padding: 40px 16px 0;
    }
  }



  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 40px;
    color: #808080;
    line-height: 1.3;

    @include pc {
      font-size: 28px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px;
    }
  }

  &__lead {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 40px;
    color: #808080;
    line-height: 1.5;
    color: #3071b9;


    @include pc {
      font-size: 28px;
    }

    @include tab {
      font-size: 17px;
      margin: 0 0 24px;
    }
  }

  &__text {
    margin: 0 0 32px;


    @include tab {
      margin: 0 0 24px;
    }
  }

  &__bg-right {
    top: 100px;
    right: 0;
  }

  &__section {
    padding: 0 16px;
    position: relative;
  }

  &__main-img {
    max-width: 800px;
    margin: 0 auto 40px;
  }

  &__main-text {    
    max-width: 600px;
    margin: 0 auto 40px;}

  &__bottom-img-wrap {
    max-width: 940px;
    margin: 0 auto 40px;
    text-align: right;
  }

  &__bottom-img {
    max-width: 600px;
  }

  &__section-bg-right {
    bottom: -100px;
    right: 0;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}

/* =================================
事業案内リンク
 ================================= */

 .services-link {
  background-color: rgb(214 240 241 / 50%);
  padding: 60px 12px;



  &__box {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 16px;
    justify-content: center;

    @include pc {
      gap: 16px;
    }

    @include tab {
      padding: 0;
      max-width: 500px;

    }
  }

  &__item {
    width: calc((100% - 60px) / 4);

    @include tab {
      width: calc((100% - 32px) / 2);
      max-width: 180px;
    }
  }

  &__img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__ttl {
    margin: 0 0 0 16px;
    color: #3071b9;
    font-weight: bold;
    position: relative;
    display: inline-block;

    &:after {
      /* 擬似要素で矢印アイコンをつくる */
      content: '';
      border: 0;
      border-top: solid 2px #3071b9;
      border-right: solid 2px #3071b9;
      display: inline-block;
      width: 7px;
      height: 7px;
      /* 矢印アイコンの位置を設定 */
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%) rotate(45deg);
      /* rotate(45deg)で矢印を回転（向きを変更）させる */
      transition: all 0.5s;

      &:hover {
        transform: translateY(-50%) rotate(45deg) translateX(5px);
      }
    }
  }
}

/* =================================
家具・インテリア
 ================================= */

 .page-interior {
  overflow: hidden;


  &__lead-wrap {
    position: relative;
    padding: 120px 16px 0;
    max-width: 920px;
    margin: 0 auto 60px;
    


    @include tab {
      margin: 0 auto 40px;
      padding: 40px 16px 0;
    }
  }



  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 32px;
    font-weight: bold;
    margin: 0 0 40px;
    color: #808080;
    line-height: 1.3;

    @include pc {
      font-size: 28px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px;
    }
  }

  &__lead {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 24px;
    color: #808080;
    line-height: 1.5;
    color: #3071b9;


    @include tab {
      font-size: 17px;
      margin: 0 0 18px;
    }
  }

  &__lead-text {
    margin: 0 0 32px;


    @include tab {
      margin: 0 0 24px;
    }
  }

  &__bg-right {
    top: 100px;
    right: -300px;
  }

  &__section01 {
    padding: 0 16px;
    position: relative;
  }

  &__section01-main-img {
    max-width: 800px;
    margin: 0 auto 40px;
  }

  &__section01-main-text {    
    max-width: 600px;
    margin: 0 auto 40px;}

  &__section01-bottom-img-wrap {
    max-width: 940px;
    margin: 0 auto 40px;
    text-align: right;
  }

  &__section01-bottom-img {
    max-width: 500px;
  }

  &__section01-bg-left {
    bottom: 100px;
    left :0;
  }

  &__section02 {
    margin: 0 0 120px;
  }

  &__section02-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }

  &__section02-item {
    width: 20%;
    margin: 16px 0;
    text-align: center;

    img {
      width: 70px;
      display: block;
      margin: 0 auto;
    }

    @include tab {
      width: 33.3%;
    }
  }

  &__section02-bg-left {
    bottom: 500px;
    left :-500px;
  }

  &__bg {
    background-color: rgb(214 240 241 / 50%);

  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}