@mixin sp {
  @media (max-width:(520px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(780px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}


.company-link {
  background-color: rgb(214 240 241 / 50%);
  padding: 60px 12px;



  &__box {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    gap:  16px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;
    }

    @include tab{
      padding: 0;

    }
  }

  &__item {
    width: calc((100% - 80px) / 6);

    @include tab {
      width: calc((100% - 32px) / 3);
    }
  }

  &__img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__ttl {
    margin: 0 0 0 4px;
    color: #3071b9;
    font-weight: bold;
    position: relative;
    display: inline-block;

    &:after {
      /* 擬似要素で矢印アイコンをつくる */
      content: '';
      border: 0;
      border-top: solid 2px #3071b9;
      border-right: solid 2px #3071b9;
      display: inline-block;
      width: 7px;
      height: 7px;
      /* 矢印アイコンの位置を設定 */
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%) rotate(45deg);
      /* rotate(45deg)で矢印を回転（向きを変更）させる */
      transition: all 0.5s;

      &:hover {
        transform: translateY(-50%) rotate(45deg) translateX(5px);
      }
    }

    &--bee {
      &:after {
        display: none;
      }

      &::before {
        content: url(../img/company/external-link.png);
        position: absolute;
        top: 0;
        right: -26px;
        transform: scale(1);
  
        @include tab{
          top: 2px;
          right: -24px;
  
        }
      }
    }
  }
}

/* =================================
会社案内（company）
 ================================= */
.page-company {

  &__section01 {
    padding: 120px 16px 240px;
    position: relative;


    @include tab {
      padding: 40px 16px 60px;

    }
  }

  &__section01-inner {
    max-width: 980px;
    margin: 0 auto;
  }

  &__section01-ttl {
    margin: 0 0 72px;

    @include tab {
      margin: 0 0 24px;
    }
  }

  &__section01-lead {
    font-size: 48px;
    font-weight: bold;
    color: #8e8e8e;
    margin: 0 0 60px 40px;

    @include tab {
      font-size: 24px;
      margin: 0 0 40px 24px;
    }
  }

  &__section01-flex {
    display: flex;
    gap: 56px;

    @include pc {
      gap: 24px;
    }

    @include tab {
      flex-direction: column;
      align-items: center;
    }
  }

  &__section01-left {
    max-width: 500px;
    width: 60%;

    @include pc {
      max-width: 400px;
      width: 50%;
    }

    @include tab {
      width: 100%;
    }
  }

  &__section01-right {
    flex: 1;
  }

  &__section01-text {
    margin: 0 0 24px;
  }

  &__section01-name-wrap {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    align-items: center;
  }

  &__section01-name-left {
    font-size: 12px;
    line-height: 1.5;
  }

  &__section01-name-right {
    font-size: 26px;
  }

  &__bg-right {
    bottom: 0px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__section02 {
    padding: 0 0 120px;
    position: relative;


    @include tab {
      padding: 0 0 60px;
    }
  }

  &__section02-box {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;
    }
  }

  &__section02-item {
    width: calc((100% - 80px) / 3);
    margin: 0 0 40px;

    @include pc {
      width: calc((100% - 32px) / 3);
    }

    @include tab {
      width: calc((100% - 20px) / 2);
      margin: 0 0 12px;
    }
  }

  &__section02-img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__section02-ttl {
    margin: 0 0 0 4px;
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }
}



/* =================================
事業案内（page-services）
 ================================= */

.page-services {

  padding: 0 0 120px;

  @include tab{
  padding: 0;
  }

  &__bg-right {
    bottom: 50px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

  &__bg-left {
    bottom: 0;
    width: 18%;
  }

  &__lead-wrap {
    position: relative;
    padding: 120px 0;

    @include tab {
      padding: 60px 0;
    }
  }

  &__inner {
    max-width: 920px;
    margin: 0 auto 80px;

    @include tab {
      padding: 0 12px;
      margin: 0 auto;
    }
  }

  &__ttl {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px 40px;

    }
  }

  &__top-lead {
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 80px 80px;
    color: #808080;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 24px 12px;
    }
  }

  &__lead {
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 80px 80px;
    color: #808080;
    line-height: 1.5;

    @include pc {
      font-size: 36px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 21px;
      margin: 0 0 24px 12px;
    }
  }

  &__text {
    color: #3071b9;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 80px 80px;

    @include pc {
      font-size: 16px;
      margin: 0 0 60px 40px;
    }

    @include tab {
      font-size: 16px;
      margin: 0 0 0 12px;
    }
  }

  &__section01 {
    padding: 0 0 120px;

    @include tab{
      padding: 0 0 60px;

    }
  }

  &__section01-box {
    display: flex;
    gap: 60px;
    margin: 0 0 100px;

    @include tab{
    flex-direction: column-reverse;
    gap: 24px;
    margin: 0 0 60px;
    }

    &--odd {
      flex-direction: row-reverse;

      @include tab{
        flex-direction: column-reverse;
      }

      .page-services__section01-left {
        padding: 0 0 0 20px;
        }
    }

    &--last {
      margin: 0;
    }


  }

  &__section01-left {
    width: 50%;

    @include tab{
    width: 100%;
    padding: 0 20px 0 0;
    }

  }

  &__section01-right {
    flex: 1;
    max-width: 500px;
    padding: 0 16px;
  }

  &__section01-num {
    width: 35px;
    margin: 0 0 24px;
  }

  &__section01-ttl {
    margin: 0 0 24px;
    font-size: 24px;
    font-weight: bold;
    color: #3071b9;

  }

  &__section01-text {
    margin: 0 0 60px;

    @include tab{
      margin: 0 0 32px;
    }

  }

  &__section01-btn {
    @include tab{
    display: block;
    margin: 0 auto;
    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
会社概要（page-outline）
 ================================= */

.page-outline {
  padding: 0 0 120px;

  @include tab{
  padding: 0;
  }


  &__section {
    padding: 80px 12px 120px;

    @include tab{
      padding: 40px 12px 80px;

    }
  }

  &__section-ttl {
    max-width: 1040px;
    margin: 0 auto 24px;
    padding: 0 0 0 12px;
    font-size: 24px;

    @include tab{
      font-size: 18px;

    }
  }

  &__flex {
    display: flex;
    max-width: 1040px;
    margin: 0 auto;

    @include tab{
    flex-direction: column;
    }
  }

  &__left {
    width: 50%;
    padding: 0 40px 0 0;
    border-right: 1px solid #cccccc;

    @include pc{
      padding: 0 20px 0 0;
    }

    @include tab{
      width: 100%;
      padding: 0;
      border-right: none;
       
    }
  }

  &__right {
    width: 50%;
    padding: 0 0 0 40px;

    @include pc{
      padding: 0 0 0 20px;

    }

    @include tab{
      width: 100%;
      padding: 0;
      border-right: none;
       
    }

  }

  &__table {
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;
    }
  }

  &__tr {
    border-bottom: 1px solid #cccccc;

    &:first-child{
      border-top: 1px solid #cccccc;
    }

    @include tab{
      &--none {
        border-top: none!important;
    }

    }



  }

  &__th {
    border-collapse: collapse;
    padding: 12px 28px;
    width: 170px;
    vertical-align: top;

    @include pc{
      width: 120px;
      padding: 12px 12px;


    }

    @include sp {
      padding: 8px 4px 8px 12px;
      width: 100px;
    }


  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;

    @include sp {
      padding: 8px 4px 8px 12px;
    }

  }

  &__section02-box {
    display: flex;
    max-width: 1120px;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0 16px;

    @include pc {
      gap: 16px;
    }
  }

  &__section02-item {
    width: calc((100% - 80px) / 3);
    margin: 0 0 40px;

    @include pc {
      width: calc((100% - 32px) / 3);
    }

    @include tab {
      width: calc((100% - 20px) / 2);
      margin: 0 0 12px;
    }
  }

  &__section02-img {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__section02-ttl {
    margin: 0 0 0 4px;
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}


/* =================================
会社概要（page-history）
 ================================= */

 .page-history {
  padding: 0 0 120px;

  @include tab{
  padding: 0;
  }

  &__section {
    padding: 80px 12px 120px;

    @include tab{
      padding: 40px 12px 80px;

    }
  }

  &__section-ttl {

    padding: 0 0 0 12px;
    font-size: 24px;

    @include tab{
      font-size: 18px;
      margin: 0 0 12px;

    }
  }

  &__content {
    max-width: 1040px;
    margin: 0 auto 60px;
    padding: 0 24px;

    @include sp {
      margin: 0 auto 32px;
      padding: 0 ;

    }
  }

  &__content-ttl {
    margin: 0 0 16px;

    @include sp {
      margin: 0 0 16px;

    }
  }

  &__table {
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;
    }
  }

  &__tr {}

  &__tr {
    border-bottom: 1px solid #cccccc;

    &:first-child{
      border-top: 1px solid #cccccc;
    }

    @include tab{
      &--none {
        border-top: none!important;
    }

    }



  }

  &__th {
    border-collapse: collapse;
    padding: 12px 28px;
    width: 220px;
    vertical-align: top;

    @include pc{
      width: 120px;
      padding: 12px 12px;


    }

    @include sp {
      padding: 8px 4px 8px 12px;
      width: 100px;
    }


  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;

    @include sp {
      padding: 8px 4px 8px 12px;
    }

  }

  &__br {
    display: none;

    @include sp {
      display: block;
    }
  }

  &__top-wrap {
    display: flex;
    max-width: 1040px;
    margin: 0 auto 54px;
    justify-content: space-between;
    align-items: center;
    align-items: start;

    @include tab{
      flex-direction: column;
      margin: 0 auto 24px;

      }

  }

  &__btn-wrap {
    display: flex;
    gap: 8px;

    @include sp{
      gap: 4px;
      justify-content: center;
      width: 100%;

    }

  }

  &__btn {
    width: 110px;
    font-size: 12px;
    border: #808080 1px solid;
    border-radius: 8px;
    line-height: 1.5;
    padding: 4px 8px;
    transition: all 0.6;

    &:hover {
      background-color: #3071b9;
      color: #fff;

    }

    @include sp{
      padding: 4px 4px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

}


/* =================================

 ================================= */

.aaa {

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}


}