@mixin sp {
  @media (max-width:(520px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(780px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(1120px)) {
    @content;
  }
}

/* =================================
お知らせ一覧
 ================================= */

.page-newsrelease {
  padding: 160px 12px;

  @include tab {
    padding: 80px 12px 72px;

  }

  &__ttl {
    max-width: 1020px;
    margin: 0 auto 40px;
    color: #3071b9;
    font-weight: bold;
    font-size: 43px;

    @include tab {
      font-size: 28px;
    }
  }

  &__section {
    background-color: rgb(214 240 241 / 50%);
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 80px 120px;

    @include pc {
      padding: 40px 40px;
    }

    @include tab {
      padding: 24px 16px;
      border-radius: 12px;

    }

  }

  &__top-wrap {
    display: flex;
    justify-content: space-between;

    @include tab {
      flex-direction: column;
    }

  }

  &__tab {
    display: flex;
    margin: 0 0 24px;

    @include tab {
      justify-content: center;
      margin: 0 0 12px;
    }
  }

  &__tab-item {
    margin: 0 40px 0 0;
    padding: 0 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;


    &:last-child {
      margin: 0;
    }

    @include tab {
      margin: 0 12px 0 0;
      padding: 0 0 18px;
    }

    &.active {
      font-weight: bold;

      &::before {
        position: absolute;
        content: "";
        background-image: url(../img/top/header-dot.png);
        bottom: 0px;
        width: 32px;
        height: 32px;
        position: absolute;
        position: absolute;
        left: 50%;
        transform: translateX(-50%)scale(0.4);

        @include tab {
          bottom: -8px;
        }
      }
    }
  }

  &__select-wrap {
    display: flex;
    gap: 24px;

    @include tab {
      justify-content: flex-end;
      margin: 0 0 12px;
    }

    &--bottom {
      justify-content: flex-end;
    }
  }

  &__select {}

  &__pager {}

  &__box {
    margin: 0 0 40px;

    @include tab {
      margin: 0 0 16px;

    }
  }


  &__article {
    display: flex;
    margin: 0 0 32px;
    align-items: center;

    @include pc {
      flex-wrap: wrap;
    }

    @include tab {
      border-bottom: #9d9b9b 1px solid;
      margin: 0;
      padding: 18px;
      margin: 0;
      background-color: #fff;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: #fff;
        bottom: -1px;
        right: 0;
      }

      &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: #fff;
        bottom: -1px;
        left: 0;
      }
    }
  }

  &__article-date {
    width: 160px;
    white-space: nowrap;

  }



  &__article-span {
    display: block;
    margin: 0 24px 0 0;
    background-color: #3071b9;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    width: 90px;
    text-align: center;

    @include tab {
      margin: 0;
    }
  }

  &__article-link {
    display: inline-block;
    width: 650px;

    @include pc {
      width: 100%;
      margin: 12px 0 0 0;
    }
  }

  &__article-cat {}

  &__link {
    display: block;
  }

  &__info-wrap {
    background-color: #fff;
    padding: 8px;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin: 0 0 12px 0;
    border-radius: 8px;
    position: relative;


    &:after {
      /* 擬似要素で矢印アイコンをつくる */
      content: '';
      border: 0;
      border-top: solid 2px #3071b9;
      border-right: solid 2px #3071b9;
      display: inline-block;
      width: 7px;
      height: 7px;
      /* 矢印アイコンの位置を設定 */
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%) rotate(45deg);
      /* rotate(45deg)で矢印を回転（向きを変更）させる */
      transition: all 0.5s;

      @include tab {
        display: none;
      }
    }


    &:hover {
      &:after {
        right: 15px;
      }
    }
  }


  &__info-right {
    width: 350px;
    margin: 0 0 0 24px;

    @include tab {
      width: 300px;
      margin: 8px 0 0 0;
    }
  }

  &__info-right-top {

    @include tab {
      text-align: center;
    }
  }

  &__info-date {
    border-right: #9d9b9b 1px solid;
    padding: 0 12px 0 0;
  }

  &__info-cat {
    padding: 0 0 0 12px;
  }


  &__info-ttl {
    @include tab {
      text-align: center;
    }
  }

  &__link-wrap {
    text-align: center;
    margin: 60px 0 0;

    @include tab {
      margin: 24px 0 0;

    }
  }

  &__bg-left {
    top: -80px;
    left: -300px;

    @include pc {
      top: -80px;
      left: -100px;
    }

    @include tab {
      top: -20px;
      left: -60px;
    }
  }

  &__bg-right {
    bottom: -150px;
    right: 0;

    @include pc {
      bottom: -10px;
    }
  }

}



/* =================================
記事ページ
 ================================= */

.single {
  padding: 160px 12px;

  @include tab {
    padding: 80px 12px 72px;

  }

  &__ttl-wrap {
    max-width: 1120px;
    margin: 0 auto 60px;
    
    @include tab{
      margin: 0 auto 40px;

    }
  }


  &__info-right-top {
    font-size: 12px;

  }

  &__info-date {
    border-right: #9d9b9b 1px solid;
    padding: 0 12px 0 0;
  }

  &__info-cat {
    padding: 0 0 0 12px;
  }

  &__ttl {
    font-size: 24px;
    color: #3071b9;
    font-weight: bold;
  }

  &__section {
    max-width: 1040px;
    margin: 0 auto 60px;

    @include tab{
      margin: 0 auto 40px;

    }
  }

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

  &__ {}

}


/* =================================
リクルート
 ================================= */

.page-recruit {

  &__top-visual {
    margin: 0 0 120px;

    @include tab {
      margin: 0 0 60px;
    }

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__section01 {}

  &__section-ttl {

    max-width: 1100px;
    margin: 0 auto 120px;
    padding: 0 16px;
    font-size: 32px;
    font-weight: bold;
    color: #3071b9;

    @include pc {
      font-size: 22px;
      margin: 0 auto 80px;

    }

    @include sp {
      font-size: 17px;
      margin: 0 auto 40px;

    }

  }

  &__section01-box {
    margin: 0 0 120px;

    @include tab {
      margin: 0 0 60px;
    }

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__btn {
    margin: 0 auto 80px;
  }

  &__bnr-box {
    max-width: 800px;
    margin: 0 auto 80px;
    padding: 0 24px;
  }

  &__ {}
}

.section01-box {


  @include tab {
    background: linear-gradient(90deg, #fff 0%, #fff 80%, #eaf7fc 80%, #eaf7fc 100%);
    border-left: 24px solid #eaf7fc;
    border-right: 24px solid #eaf7fc;
  }

  &--bottom {
    @include tab {
      background: linear-gradient(90deg, #eaf7fc 0%, #eaf7fc 80%, #fff 80%, #fff 100%);
      border-left: 24px solid #fff;
      border-right: 24px solid #fff;
    }

  }

  &__top-wrap {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
    justify-content: space-between;

    @include tab {
      flex-direction: column;
    }
  }

  &__ttl {
    font-size: 26px;
    line-height: 38px;
    font-weight: bold;
    width: 45%;
    white-space: nowrap;

    @include pc {
      width: 55%;
      font-size: 20px;
      line-height: 28px;
    }

    @include tab {
      width: 100%;
      font-size: 22px;
      margin: 24px 0;

    }

    @include sp {
      font-size: 15px;
      letter-spacing: 0;
    }
  }

  &__img {
    width: 65%;
    margin: 0 -180px 0 0;



    @media screen and (max-width: 1450px) {
      width: 60%;
      margin: 0 -100px 0 0;
    }

    @media screen and (max-width: 1250px) {
      width: 55%;
      margin: 0 -40px 0 0;
    }

    @include pc {
      width: 40%;
      margin: 0;
    }

    @include tab {
      margin: 0 calc(50% - 50vw);
      width: 100vw;
      padding: 0 16px;
    }

    &--bottom {
      margin: 0 0 0 -180px;

      @media screen and (max-width: 1450px) {
        width: 60%;
        margin: 0 0 0 -100px;
      }

      @media screen and (max-width: 1250px) {
        width: 55%;
        margin: 0 0 0 -40px;
      }

      @include pc {
        width: 40%;
        margin: 0;
      }

      @include tab {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
        padding: 0 16px;
        order: 2;
      }
    }
  }

  &__text-box {
    background: linear-gradient(90deg, #eaf7fc 0%, #eaf7fc 75%, #fff 75%, #fff 100%);
    padding: 40px 16px;
    margin: -180px 0 0 0;

    &--bottom {
      background: linear-gradient(90deg, #fff 0%, #fff 25%, #eaf7fc 25%, #eaf7fc 100%);


      @media screen and (max-width: 1250px) {
        padding: 80px 16px 40px;

      }
    }

    @media screen and (max-width: 1250px) {
      margin: -60px 0 0 0;

    }

    @include tab {
      margin: 0;
      background: none;
      padding: 24px 0 24px 8px;


    }
  }

  &__text-ttl {
    max-width: 1100px;
    margin: 0 auto 16px;
    font-size: 18px;
    font-weight: bold;
    color: #3071b9;

    &--bottom {
      text-align: right;
      max-width: 1300px;

      @include tab {
        text-align: left;
      }

    }

    @include sp {
      font-size: 15px;
    }
  }

  &__text-wrap {
    max-width: 1100px;
    margin: 0 auto 0;
  }

  &__text {
    width: 480px;
    font-size: 14px;

    &--bottom {
      margin: 0 0 0 auto;

      @include pc {
        width: 580px;
      }

    }

    @include tab {
      width: 100%;

    }
  }

  &__ {}
}

.recruit-vision {
  margin: 0 0 60px;

  @include tab {
    margin: 0;
  }


  &__inner {
    background: linear-gradient(180deg, #eaf7fc 0%, #eaf7fc 60%, #fff 60%, #fff 100%);

    @media screen and (max-width: 1200px) {
      background: linear-gradient(180deg, #fff 0%, #fff 75%, #fff 75%, #fff 100%);
    }

    @include tab {
      margin: 0 0 40px;
    }
  }

  &__ttl {
    width: 240px;
    margin: 0 0 60px;

    @include tab {
      width: 180px;
      margin: 0 0 20px;

    }
  }

  &__lead {
    max-width: 1100px;
    margin: 0 auto 40px;
    font-size: 26px;
    line-height: 38px;
    font-weight: bold;
    padding: 0 24px;

    @include pc {
      font-size: 20px;
      line-height: 28px;
    }

    @include tab {
      font-size: 22px;
      margin: 24px 0;

    }

    @include sp {
      font-size: 15px;
      letter-spacing: 0;
    }
  }



  &__content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px 40px;


    @include tab {
      flex-direction: column;
      align-items: center;
      padding: 0 25px 0;


    }
  }

  &__item {

    @include tab {
      position: relative;
      margin: 0 0 28px;
      width: 100%;
      max-width: 600px;
      box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;

    }
  }

  &__item-img {
    margin: 0 0 16px;

    @include tab {
      margin: 0;
    }
  }

  &__item-ttl {
    position: relative;
    margin: 0 0 32px 18px;
    font-size: 18px;

    @include tab {
      margin: 0;
      font-size: 13px;
      margin: 0 12px;

    }


    &::after {
      content: "";
      position: absolute;
      top: 50%;
      bottom: 0;
      left: -20px;
      font-size: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.3s;
      width: 8px;
      height: 8px;
      border-top: solid 2px currentColor;
      border-right: solid 2px currentColor;
      transform: translateY(-50%) rotate(45deg);
      color: #3071b9;
      transition: all 0.3s;
    }
  }

  &__link {
    display: block;
  }

  &__link-wrap {
    width: 200px;
    margin: 40px auto 0;
    border: #9d9b9b 1px solid;
    padding: 8px 0 8px 34px;
    background-color: #fff;

    @include tab {
      margin: 12px auto 0;
    }

  }

}

/* =================================
お問い合わせ
================================= */

.page-inquiry {
  &__top-visual {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px;
    }

    @include sp {
      margin: 0;
    }
  }

  &__section {
    margin: 0 0 24px;

    @include tab {
      margin: 0 0 40px;
    }

    @include sp {
      margin: 0;

    }
  }

  &__text-wrap {
    margin: 0 0 60px;

    @include sp {
      margin: 0 0 40px;
    }
  }

  &__text-ttl {
    font-size: 26px;
    border-bottom: #e2e2e2 solid 1px;
    padding: 0 0 12px;
    margin: 0 0 16px;

    @include sp {
      font-size: 18px;
    }

  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tab {
      flex-direction: column;
      align-items: center;
    }
  }


  &__item {
    width: 32%;
    margin: 0 0 80px;

    @include tab {
      width: 100%;
      max-width: 480px;
      position: relative;
      margin: 0 0 16px;
      overflow: hidden;

    }


  }

  &__ttl {
    margin: 8px 0 16px;
    font-size: 20px;

    @include tab {
      font-size: 14px;
      width: 260px;
      bottom: -1px;

      &--sp {
        color: #fff;
        width: 100%;
        background-color: #3071b9;
        padding: 10px;
        margin: 0 0 24px;

        p {
          &::after {
            color: #fff;
          }
        }
      }
    }
  }

  &__img {
    margin: 0 0 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  }

  &__text {
    line-height: 1.5;
  }
}

/* =================================
お問い合わせ　　フォーム
================================= */

.page-form {

  &__section {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px;
    }
  }

  &__ttl {
    max-width: 1108px;
    margin: 0 auto 12px;
    font-size: 28px;
    padding: 28px 0 0 24px;
    font-weight: bold;


    @include pc {
      font-size: 22px;
    }

    @include tab {
      font-size: 20px;
      padding: 14px 24px;
    }

  }

  &__lead-wrap {
    background-color: #eeeeee;
    margin: 0 0 40px;
  }

  &__lead {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
    font-size: 12px;

    @include sp {
      font-size: 9px;
    }
  }

  &__confirm-img {
    max-width: 600px;
    margin: 0 0 14px;
  }

  &__text {
    font-size: 13px;
    margin: 0 0 60px;

    @include sp {
      font-size: 9px;
      margin: 0 0 40px;

    }

  }


  &__content {
    max-width: 1100px;
    margin: 0 auto 80px;
    padding: 0 24px;

    @include tab {
      margin: 0 auto;
    }
  }

  &__content-ttl {
    font-size: 20px;
    border-bottom: #cccccc 1px solid;
    padding: 0 0 12px;
    margin: 0 0 40px;

    @include sp {
      font-size: 18px;
      margin: 0 0 16px;

    }
  }

  &__table {
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;
    }
  }

  &__tr {}

  &__th {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: #eee;
    border-collapse: collapse;
    padding: 12px 28px;
    width: 280px;
    vertical-align: middle;
    position: relative;

    @include tab {
      padding: 8px 4px 8px 12px;
      width: 100%;
      display: block;
    }
  }

  &__span {
    position: absolute;
    right: 24px;
    font-size: 12px;
    line-height: 17px;
    padding: 0 2px;
    color: #d60000;
    border: #d60000 1px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;

    @include tab {
      padding: 8px 4px 24px 12px;
      width: 100%;
      display: block;
      border-bottom: none;
    }
  }

  &__input-text {
    padding: 8px;
    width: 380px;
    border: 1px solid #cccccc;


    @include sp {
      width: 100%;
      padding: 6px;
    }

  }

  &__input-radio {
    margin: 0 10px 0 30px;

    &:first-of-type {
      margin: 0 10px 0 0;
    }
  }

  &__input-textarea {
    padding: 8px;
    width: 100%;
    height: 180px;
    border: 1px solid #cccccc;

    @include sp {
      padding: 6px;
    }

  }

  &__input-checkbox {
    margin: 0 10px 0 30px;

    &:first-of-type {
      margin: 0 10px 0 0;
    }
  }


  &__confirm-wrap {
    background-color: #eee;
    max-width: 660px;
    margin: 0 auto 60px;
    padding: 24px;
    text-align: center;

    @include tab {
      background-color: #fff;
      margin: 0 auto 24px;

    }
  }

  &__confirm-text {
    margin: 0 0 40px;
    text-align: left;

    @include tab {
      margin: 0 0 12px;
    }
  }

  &__confirm-link {
    text-decoration: underline;
  }


  &__btn-wrap {}

  &__input-btn {
    background: url(../img/other/contact-btn.png) no-repeat;
    background-size: contain;
    width: 420px;
    height: 80px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;

    @include tab {
      width: 280px;
    }
  }


  &__content-img {
    max-width: 880px;
    margin: 0 auto;
  }

}

/* =================================
 リンク 
 ================================= */

.page-link {

  &__ttl {
    max-width: 1108px;
    margin: 0 auto 60px;
    font-size: 28px;
    padding: 28px 24px;
    font-weight: bold;


    @include pc {
      font-size: 22px;
      margin: 0 auto 20px;

    }

    @include tab {
      font-size: 20px;
      padding: 14px 24px;
    }
  }

  &__sub-ttl {
    font-size: 20px;
    border-bottom: #cccccc 1px solid;
    padding: 0 0 12px;
    margin: 0 0 24px;

    @include sp {
      font-size: 18px;
      margin: 0 0 16px;

    }
  }

  &__section {}

  &__content {
    max-width: 1100px;
    margin: 0 auto 80px;
    padding: 0 24px;
  }

  &__table {
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;

    }
  }

  &__tr {}

  &__th {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: #eee;
    border-collapse: collapse;
    padding: 12px 28px;
    width: 460px;
    vertical-align: middle;
    position: relative;

    @include tab {
      padding: 8px 4px 8px 12px;
      width: 100%;
      display: block;
    }
  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;

    @include tab {
      padding: 8px 4px 24px 12px;
      width: 100%;
      display: block;
      border-bottom: none;
    }
  }
}

/* =================================
一覧ページ
 ================================= */
.page-archive {

  &__ttl {
    max-width: 1108px;
    margin: 0 auto 32px;
    font-size: 28px;
    padding: 28px 24px;
    font-weight: bold;


    @include pc {
      font-size: 22px;
      margin: 0 auto 20px;

    }

    @include tab {
      font-size: 20px;
      padding: 14px 24px;
    }

  }




  &__section {}

  &__content {
    max-width: 1100px;
    margin: 0 auto 80px;
    padding: 0 8px;

    @include tab {
      margin: 0 auto 40px;
    }
  }

  &__tab {
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px;



    @include tab {
      padding: 0 12px 0;
      border-bottom: none;
      border-bottom: #3071b9 solid 1px;
      margin: 0;

    }

    @include sp {
      padding: 0 8px 0;
    }

    @media screen and (max-width: 360px) {
      font-size: 12px;
    }
  }

  &__tab-item {
    width: 25%;
    text-align: center;
    background-color: #e2e2e2;
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;

    @include tab {
      margin: 0 8px 0 0;
      padding: 4px;

      &:last-of-type {
        margin: 0;
      }
    }

    @include sp {
      font-size: 11px;
      width: 24%;
    }


    &:hover {
      color: #fff;
      background-color: #3071b9;
      border-bottom: 2px solid #3071b9;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: #3071b9 transparent transparent transparent;
        border-width: 12px 12px 0 12px;

        @include tab {
          display: none;
        }
      }
    }

    &.active {
      color: #fff;
      background-color: #3071b9;
      border-bottom: 2px solid #3071b9;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: #3071b9 transparent transparent transparent;
        border-width: 12px 12px 0 12px;

        @include tab {
          display: none;
        }
      }

    }
  }

  &__article-wrap {
    padding: 0;
    margin: 0 0 80px;

    @include sp {
      margin: 0 0 40px;
    }

  }

  &__article {
    display: flex;
    margin: 0 0 32px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: #9d9b9b 1px solid;
    padding: 0 0 18px;

    @include pc {
      flex-wrap: wrap;
    }

    @include tab {
      border-bottom: #9d9b9b 1px solid;
      margin: 0;
      padding: 18px;
      margin: 0;
      background-color: #fff;
      position: relative;
      margin: 0 8px;

      &::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: #fff;
        bottom: -1px;
        right: 0;

      }

      &::after {
        content: '';
        position: absolute;
        width: 8px;
        height: 1px;
        background-color: #fff;
        bottom: -1px;
        left: 0;
      }

    }
  }

  &__article-date {
    width: 160px;
    white-space: nowrap;

  }



  &__article-span {
    display: block;
    margin: 0 24px 0 0;
    background-color: #3071b9;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    width: 90px;
    text-align: center;

    @include tab {
      margin: 0;
    }
  }

  &__article-link {
    display: inline-block;
    width: 650px;
    width: 100%;
    margin: 12px 0 0 0;

    @include pc {
      width: 100%;
      margin: 12px 0 0 0;
    }
  }

  &__pager {
    text-align: center;

  }

}


/* =================================
記事詳細ページ
 ================================= */
.page-single {

  &__ttl {
    max-width: 1108px;
    margin: 0 auto 32px;
    font-size: 28px;
    padding: 28px 24px;
    font-weight: bold;


    @include pc {
      font-size: 22px;
      margin: 0 auto 20px;

    }

    @include tab {
      font-size: 20px;
      padding: 14px 24px;
    }

  }

  &__section {}

  &__inner {
    max-width: 1100px;
    margin: 0 auto 120px;
    padding: 0 8px;

    @include sp {
      margin: 0 auto 40px;
    }
  }

  &__tab {
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px;



    @include tab {
      padding: 0 12px 0;
      border-bottom: none;
      border-bottom: #3071b9 solid 1px;
      margin: 0;

    }

    @include sp {
      padding: 0 8px 0;
    }

    @media screen and (max-width: 360px) {
      font-size: 12px;
    }
  }

  &__tab-item {
    width: 25%;
    text-align: center;
    background-color: #e2e2e2;
    padding: 8px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;

    @include tab {
      margin: 0 8px 0 0;
      padding: 4px;

      &:last-of-type {
        margin: 0;
      }
    }

    @include sp {
      font-size: 11px;
      width: 24%;
    }


    &:hover {
      color: #fff;
      background-color: #3071b9;
      border-bottom: 2px solid #3071b9;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: #3071b9 transparent transparent transparent;
        border-width: 12px 12px 0 12px;

        @include tab {
          display: none;
        }
      }
    }

    &.active {
      color: #fff;
      background-color: #3071b9;
      border-bottom: 2px solid #3071b9;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -12px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: #3071b9 transparent transparent transparent;
        border-width: 12px 12px 0 12px;

        @include tab {
          display: none;
        }
      }

    }
  }

  &__content {
    padding: 0 12px;

    @include tab {
      padding: 40px 12px;
    }
  }

  &__content-ttl {
    border-top: 1px solid #3071b9;
    border-bottom: 1px solid #3071b9;
    padding: 18px 12px;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 8px;
    line-height: 40px;

    @include sp {
      font-size: 18px;
      line-height: 30px;

    }
  }

  &__content-date {
    text-align: right;
    display: block;
    font-size: 13px;
    margin: 0 0 40px;
  }

  &__content-box {
    margin: 0 0 80px;

    @include tab {
      margin: 0 0 40px;
    }

  }

  &__link {
    display: block;
  }

  &__link-wrap {
    width: 240px;
    margin: 0 auto;
    border: #9d9b9b 1px solid;
    padding: 8px 0 8px 30px;
    background-color: #fff;

    @include tab {
      margin: 0 auto 0;
    }
  }
}

/* =================================
レノファ
================================= */

.page-renofa {

  &__ttl {
    max-width: 1108px;
    margin: 0 auto 20px;
    font-size: 28px;
    padding: 28px 24px;
    font-weight: bold;


    @include pc {
      font-size: 22px;
    }

    @include tab {
      font-size: 20px;
      padding: 14px 24px;
    }
  }

  &__top-img {
    margin: 0 0 40px;
  }

  &__section-ttl {
    display: flex;
    color: #3071b9;
    max-width: 1100px;
    margin: 0 auto 60px;
    padding: 0 24px;
    align-items: center;
    font-size: 20px;
    white-space: nowrap;

    @include sp {
      font-size: 16px;
      white-space: normal;
      margin: 0 auto 40px;
    }

    &::after {
      background-color: #3071b9;
      content: "";
      flex-grow: 1;
      height: 1px;
      margin: 0 0 0 12px;
    }
  }

  &__section {
    margin: 0 0 120px;

    @include tab {
      margin: 0 0 40px;
    }
  }

  &__content {
    max-width: 1100px;
    margin: 0 auto 80px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;

    @include tab {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text-wrap {
    width: 48%;

    @include tab {
      width: 100%;
      margin: 0 0 40px;
    }

  }

  &__text {
    margin: 0 0 40px;

    @include sp {
      margin: 0 0 24px;
    }
  }


  &__list {
    margin: 0 0 40px 40px;

    @include tab {
      margin: 0 0 24px 16px;
    }
  }


  &__list-item {
    list-style: disc;
  }


  &__btn {
    display: block;
    max-width: 280px;

    @include tab {
      margin: 0 auto;
    }
  }


  &__img {
    width: 48%;

    @include tab {
      width: 100%;
    }
  }


  &__ {}


  &__ {}

  &__ {}


}

/* =================================
その他ページ
 ================================= */
.page-style {

  &__ttl {
    max-width: 1108px;
    margin: 0 auto 60px;
    font-size: 28px;
    padding: 28px 24px;
    font-weight: bold;


    @include pc {
      font-size: 22px;
      margin: 0 auto 20px;

    }

    @include tab {
      font-size: 20px;
      padding: 14px 24px;
    }

  }




  &__section {

    &--404 {
      min-height: 600px;
    }
  }

  &__content {
    max-width: 1100px;
    margin: 0 auto 80px;
    padding: 0 24px;
  }


  &__table {
    border-top: 1px solid #cccccc;
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;

    @include sp {
      font-size: 13px;
    }
  }

  &__tr {}

  &__th {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    background-color: #eee;
    border-collapse: collapse;
    padding: 12px 50px 12px 60px;
    width: 280px;
    vertical-align: middle;

    @include tab {
      padding: 12px 30px 12px 40px;
      width: 240px;
    }

    @include sp {
      padding: 8px 4px 8px;
      width: 120px;
      text-align: center;
    }
  }

  &__td {
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 12px 28px;
    vertical-align: middle;


    &--bg {
      background-color: #fafafa;

    }

    @include sp {
      padding: 8px 4px 8px 12px;
    }

  }

}